<!doctype html>
<html>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                HEAD WITH JINJA TEMPLATE                                                                                                 -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title>
            {% block title %}{% endblock %}
        </title>
        
        <link rel="stylesheet" href="/static/css/style.css">
        
        {% block head %}{% endblock %}
    </head>


<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                BODY WITH JINJA TEMPLATE                                                                                          -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <body>

        <!-- ---------------------------------- -->
        <!--    SETTING UP FLASH MESSAGES       -->
        <!-- ---------------------------------- -->
        {% for message in get_flashed_messages() %}
            <p class="flash-message">
                {{ message }}
            </p>
        {% endfor %}
        
        {% block body %}{% endblock %}

        {% block after_body %}{% endblock %}
    </body>
</html>