<!DOCTYPE html>
<html lang="en">

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                HEAD WITH JINJA TEMPLATE                                                                                          -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap -->
                
        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
            crossorigin="anonymous">

        <!-- Custom Styles - My CSS file -->
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />

        <title>
            {% block title %}{% endblock %}
        </title>
        
            {% block head %}{% endblock %}
    </head>


<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                BODY WITH JINJA TEMPLATE                                                                                          -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <body>

        <!-- ---------------------------------- -->
        <!--    SETTING UP FLASH MESSAGES       -->
        <!-- ---------------------------------- -->
        {% for message in get_flashed_messages() %}
            <div class="container-fluid text-light fst-italic p-1 mt-3 mb-3">
                <h4 class="flash-message p-4 ">
                    {{ message }}
                </h4>
            </div>
            
        {% endfor %}
        
        {% block body %}{% endblock %}

        {% block after_body %}{% endblock %}

        <!-- ---------------------------------- -->
        <!--    IMPORTING BOOTSTRAP JS FILES    -->
        <!-- ---------------------------------- -->
    
        <main class="container mt-4">
            <h1></h1>
        </main>
    <!-- Bootstrap JavaScript Bundle with Popper (a Bootstrap dependency for popovers) -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
            crossorigin="anonymous"></script>

    </body>
</html>
