{% extends 'base.html' %}
{% block title %}National Parks and Lakes App - Create Account{% endblock %}

{% block body %}  
    <h3>Create an Account on this Page</h3>

    <label for="Submit Button to Create New Account">Create New Account</label>
    <a href="/user-dashboard" class="button">Create My Account</a>

    <br>

    <label for="Nav Link to Go to User Log In">Already have an account?</label>
    <a href="/login" class="button">Go to User Log In</a>

    <br>
    
    <label for="Nav Link to go back to Homepage"></label>
    <a href="/" class="button">Back to Homepage</a>

{% endblock %}