<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                JINJA -- INHERIT FROM BASE.HTML                                                                                   -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

{% extends 'base.html' %}
{% block title %}National Parks and Lakes App - Homepage{% endblock %}

{% block body %}  

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                APP TITLE AND TAGLINE                                                                                             -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

    <h1>National Parks App</h1>

    <h2>Customize your next adventure to meet your needs while visiting some of America's most majestic landscapes</h2>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                NAVIGATION LINKS                                                                                                  -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

    <label for="Nav Link to See App Details"></label>
    <a href="/product-details-page" class="button">See Details about this App</a>

    <br> 

    <label for="Nav Link to Create an Account"></label>
    <a href="/create-account" class="button">Create an Account</a>

    <br>

    <label for="Nav Link to User Log In"></label>
    <a href="/login" class="button">User Log In</a>

{% endblock %}