<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                JINJA -- INHERIT FROM BASE.HTML                                                                                   -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

{% extends 'base.html' %}
{% block title %}National Parks and Lakes App - Logged Out{% endblock %}

{% block body %}  

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                LOGGED OUT MESSAGE                                                                                                -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

    <h3>You have successfully Logged Out</h3>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                NAVIGATION LINK                                                                                                   -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <label for="Nav Link Back to Homepage"></label>
    <a href="/" class="button">Back to Homepage</a>

{% endblock %}