<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                JINJA -- INHERIT FROM BASE.HTML                                                                                   -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

{% extends 'base.html' %}
{% block title %}National Parks and Lakes App - Logged Out{% endblock %}

{% block body %}  

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                LOGGED OUT MESSAGE AND NAV LINK BACK TO HOMEPAGE                                                                  -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

<body id="body-logged-out-page">
    <!-- Allows me to move my design to middle of page to set up the container-- 
        with padding adjusted for responsive design:   p-4 is mobile framework, p-sm-3 need less padding -->
    <div class="container-logged-out d-flex justify-content-center and align-items-center rounded p-4 p-sm-3 mt-5">
            
            <div class="return-home">
                <h4 class="fw-bold text-center">You Have Successfully Logged Out- Thank You for Visiting!</h4>
                <label for="Nav Link Back to Homepage"></label>
                <p><button class="btn fw-bold"><a class="text-dark" href="/">Back to Homepage</a></button></p>
            </div>
    </div>

{% endblock %}