{% extends 'base.html' %}
{% block title %}National Parks and Lakes App - Log In {% endblock %}

{% block body %}  
    <h3>Log In Page</h3>

    <label for="Form to Log In as an Existing User"></label>
    <form action="/login" method="POST">
        <p>
            Username <input type="text" name="'username" required>
        </p>
        <p>
            Email <input type="text" name="email" required>
        </p>
        <p>
            Password <input type="password" name="password" required>
        </p>
        <button type="submit">Log In</button>
    </form>

    <br>
    <br>

    <label for="Nav Link Back to Homepage"></label>
    <a href="/" class="button">Back to Homepage</a>

{% endblock %}