<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                JINJA -- INHERIT FROM BASE.HTML                                                                                   -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

{% extends 'base.html' %}
{% block title %}National Parks App - Park Details {% endblock %}

{% block body %}  

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                NAVIGATION LINKS                                                                                                  -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->


    <label for="Submit Button to Log Out"></label>
    <a href="/logged-out" class="button">Log Out</a>

    <br> 

    <label for="Nav Link to User Top Parks List"></label>
    <a href="/user-top-places" class="button">Go to My Top Parks to Visit Page</a>

    <br>

    <label for="Nav Link to go back to User Dashboard"></label>
    <a href="/user-dashboard" class="button">Back to My Dashboard</a>

    <br>
    <br>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                FORM TO FAVORITE A PARK AS A TOP PARK                                                                             -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->


    
    <form action="/bookmark-park" method="POST">
        <label for="Bookmark image-icon and button to save as a Top Park" class="label-text">
            {{ session['username']|title }}, would you like to save 
            {{ park_info['fullName'] }} to your Top Parks to Visit page?</label>
        <input type="hidden" name="park-info" value="{{ json_park_info }}">
        <button type="submit" id="save-as-top-park" class="button">Yes, Save to My Top Parks Page</button>
    </form>
    <br>
    <br>
    <br>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                FORM TO SAVE NOTE FOR A TOP PARK AND DIV TO DISPLAY NOTE                                                          -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

    {# <!-- <form>
        <label for="Form to write a note about park" class="label-text">
            {{ session['username']|title }}, after you've saved {{ park_info['fullName'] }} as a Top Park,
            write a note about why you want to visit this park: </label>
       
        <input type="hidden" id="park-code" name="park-code" value="{{ park_info['parkCode'] }}">
        <input type="submit" id="save-park-note" class="button" value="Save Note">
    </form> --> #}

    <label for="Form to write a note about park" class="label-text">
        {{ session['username']|title }}, after you've saved {{ park_info['fullName'] }} as a Top Park,
        write a note about why you want to visit this park: 
    </label>
    <input type=text cols="20" rows="5" id="park-note" name="park-note" class="note-text">
    <input type="submit" id="save-park-note" class="button" value="Save Note">
    <input type="hidden" id="park-code" name="park-code" value="{{ park_info['parkCode'] }}"> 
    <label for="container to display note"></label>
    <div id="noteDisplay" class="note-text"></div>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                PARK INFORMATION SECTION                                                                                          -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->


        <!-- ---------------------------------- -->
        <!--    CONTAINER FOR PARK NAME         -->
        <!-- ---------------------------------- -->
            <div class = "park-name">
                <label for="park-name"></label>
                    <h3> {{ park_info['fullName'] }} </h3>
            </div>
            
        <!-- ---------------------------------- -->
        <!--    CONTAINER FOR PARK IMAGES       -->
        <!-- ---------------------------------- -->
            <div class="park-images">
                <label for="park-images"></label>
                    {% if park_info.get('images') %}
                            <img src="{{ park_info['images'][0]['url'] }}" class="park-image">
                            <img src="{{ park_info['images'][1]['url'] }}" class="park-image">
                            <img src="{{ park_info['images'][2]['url'] }}" class="park-image"> 
                        {% else %}
                            <img src="static/images/National-Park-Service-Logo.png">
                        {% endif %}
            </div>
        
        <!-- ---------------------------------- -->
        <!--    CONTAINER FOR PARK DESCRIPTION  -->
        <!-- ---------------------------------- -->
            <div class="park-description">
                <label for="park-description"></label>
                <p> {{ park_info['description'] }}</p>
            </div>

        <!-- ---------------------------------- -->
        <!--    CONTAINER FOR PARK DETAILS      -->
        <!-- ---------------------------------- -->
            <div class="park-details">
                <label for="park-details"></label>
                        <ul style="list-style-type:disc;">
                            <li> <b>Park Website:</b> <a href="{{ park_info['url'] }}">{{ park_info['url'] }}</a> </li>
                            <li> <b>Located in these States:</b> {{ park_info['states'] }}</li>
                            <li> <b>Latitude:</b> {{ park_info['latitude'] }}</li>
                            <li> <b>Longitude:</b> {{ park_info['longitude'] }}</li>
                            <li> <b>Directions Info:</b> {{ park_info['directionsInfo'] }}</li>
                            <li> <b>Directions Link:</b> <a href="{{ park_info['directionsUrl'] }}">{{ park_info['directionsUrl'] }}</a></li>
                            <li> <b>Weather Info:</b> {{ park_info['weatherInfo'] }}</li>
                        </ul>
            </div>

        <!-- ---------------------------------- -->
        <!--    CONTAINER FOR TRAIL INFO        -->
        <!-- ---------------------------------- -->

        <div id="trail-activity-info"></div>

        <div class="trail-info-card" >
            <label for="trail-info-card"></label>
            {% for trail in trail_info %}

                    <p> {{ trail['title'] }}</p>
                    <ul>
                        <li> <b>Trail/Activity Webpage:</b>  <a href="{{ trail['url'] }}">{{ trail['url'] }}</a></li>
                        <li> <b>Trail/Activity Description:</b> {{ trail['shortDescription'] }}</li>
                      
                        <li> <b>Do fees apply?</b> {{ trail['doFeesApply']|title }}</li>
                        <li> <b>Is a reservation required?</b> {{ trail['isReservationRequired']|title }}</li>
                        <li> <b>Are pets permitted?</b>  {{ trail['arePetsPermitted']|title }}</li>
                        <li> <b>Information about Pets:</b> {{ trail['petsDescription'] }}</li>
                        <li> <b>Accessibility Information:</b>  {{ trail['accessibilityInformation'] }}</li>  
                       {# <!-- <li> <b>Season/ Seasons to Visit:</b> {{ trail['season'] }}</li>   --> #}
                    </ul>

            {% endfor %}

            {#  {% for parkCode, trail_data in trails_a11y.items() %} 

                    {% for item in trail_data %}
                        <ul>
                            <li> <b> Is trail wheelchair Accesible?:</b> {{ trail_data.get('isWheelchairAccessible')</li>
                            <li> <b> Accessibility Information:</b> {{ trail_data.get('accessibilityInformation')</li>
                        </ul>
                    {% endfor %}

            {% endfor %}  #}
        </div>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                IMPORTING JS FILE FOR USER NOTE                                                                                   -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

    <script src="/static/js/user-note.js"></script>

    <script src="/static/js/place-page.js"></script>

{% endblock %}