<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                JINJA -- INHERIT FROM BASE.HTML                                                                                   -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

{% extends 'base.html' %}
{% block title %}National Parks App - Park Details {% endblock %}

{% block body %}  

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                NAVIGATION LINKS                                                                                                  -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->


    <label for="Submit Button to Log Out"></label>
    <a href="/logged-out" class="button">Log Out</a>

    <br> 

    <label for="Nav Link to User Top Parks List"></label>
    <a href="/user-top-places" class="button">Go to My Top Parks to Visit Page</a>

    <br>

    <label for="Nav Link to go back to User Dashboard"></label>
    <a href="/user-dashboard" class="button">Back to My Dashboard</a>

    <br>
    <br>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                FORM TO FAVORITE A PARK AS A TOP PARK                                                                             -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->


    
    <form action="/bookmark-park" method="POST">
        <label for="Bookmark image-icon and button to save as a Top Park" class="label-text">
            {{ session['username']|title }}, would you like to save 
            {{ park_info['fullName'] }} to your Top Parks to Visit page?</label>
        <input type="hidden" name="park-info" value="{{ json_park_info }}">
        <button type="submit" id="save-as-top-park" class="button">Yes, Save to My Top Parks Page</button>
    </form>
    <br>
    <br>
    <br>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                FORM TO SAVE NOTE FOR A TOP PARK AND DIV TO DISPLAY NOTE                                                          -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->


    <form action="/save-note/{{ park_info['parkCode'] }}.json" method="POST">
        <label for="Form to write a note about park" class="label-text">
            {{ session['username']|title }}, after you've saved {{ park_info['fullName'] }} as a Top Park,
            write a note about why you want to visit this park: </label>
        <textArea input type="text" id="park-note" name="park-note" value="park-note" class="note-text"></textArea>
        <input type="hidden" id="park-code" name="park-code" value="{{ park_info['parkCode'] }}">
        <button type="submit" id="save-park-note" class="button" value="save-note"> Save Note</button>
    </form>
    <br>
    <br>

    <label for="container to display note"></label>
        <div id="noteDisplay" class="note-text"></div>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                PARK INFORMATION SECTION                                                                                          -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->


        <!-- ---------------------------------- -->
        <!--    CONTAINER FOR PARK NAME         -->
        <!-- ---------------------------------- -->
            <div class = "park-name">
                <label for="park-name"></label>
                    <h3> {{ park_info['fullName'] }} </h3>
            </div>
            
        <!-- ---------------------------------- -->
        <!--    CONTAINER FOR PARK IMAGES       -->
        <!-- ---------------------------------- -->
            <div class="park-images">
                <label for="park-images"></label>
                    {% if park_info.get('images') %}
                            <img src="{{ park_info['images'][0]['url'] }}" class="park-image">
                            <img src="{{ park_info['images'][1]['url'] }}" class="park-image">
                            <img src="{{ park_info['images'][2]['url'] }}" class="park-image">
                        {% else %}
                            <img src="static/images/National-Park-Service-Logo.png">
                        {% endif %}
            </div>
        
        <!-- ---------------------------------- -->
        <!--    CONTAINER FOR PARK DESCRIPTION  -->
        <!-- ---------------------------------- -->
            <div class="park-description">
                <label for="park-description"></label>
                <p> {{ park_info['description'] }}</p>
            </div>

        <!-- ---------------------------------- -->
        <!--    CONTAINER FOR PARK DETAILS      -->
        <!-- ---------------------------------- -->
            <div class="park-details">
                <label for="park-details"></label>
                        <ul style="list-style-type:disc;">
                            <li> <b>Park Website:</b> <a href="{{ park_info['url'] }}">{{ park_info['url'] }}</a> </li>
                            <li> <b>Located in these States:</b> {{ park_info['states'] }}</li>
                            <li> <b>Latitude:</b> {{ park_info['latitude'] }}</li>
                            <li> <b>Longitude:</b> {{ park_info['longitude'] }}</li>
                            <li> <b>Directions Info:</b> {{ park_info['directionsInfo'] }}</li>
                            <li> <b>Directions Link:</b> <a href="{{ park_info['directionsUrl'] }}">{{ park_info['directionsUrl'] }}</a></li>
                            <li> <b>Weather Info:</b> {{ park_info['weatherInfo'] }}</li>
                        </ul>
            </div>

        <!-- ---------------------------------- -->
        <!--    CONTAINER FOR TRAIL NAME        -->
        <!-- ---------------------------------- -->
        <div class="trail-info-card">
            <label for="trail-info-card"></label>
            {% for trail in trail_info %}

                    <p> {{ trail['title'] }}</p>
                    <ul>
                        <li> <b>Are pets permitted?</b>  {{ trail['arePetsPermitted']|title }}</li>
                        <li> <b>Accessibility Info:</b>  {{ trail['accessibilityInformation']}}</li>
                        <li> <b>Trail Webpage:</b>  <a href="{{ trail['url'] }}">{{ trail['url'] }}</a></li>
                    </ul>

            {% endfor %}
        </div>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                IMPORTING JS FILE FOR USER NOTE                                                                                   -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

    <script src="/static/js/user-note.js"></script>

{% endblock %}