<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                JINJA -- INHERIT FROM BASE.HTML                                                                                   -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

{% extends 'base.html' %}
{% block title %}National Parks and Lakes App - Product Details{% endblock %}

{% block body %}  

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                APP DETAILS SECTION                                                                                               -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <h3>This is the Product Details Page</h3>

    <h5>App Details will go here</h5>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                NAVIGATION LINK                                                                                                   -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <label for="Nav Link Back to Homepage"></label>
    <a href="/" class="button">Back to Homepage</a>

{% endblock %}