<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                JINJA -- INHERIT FROM BASE.HTML                                                                                   -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

{% extends 'base.html' %}
{% block title %}National Parks and Lakes App - User Dashboard{% endblock %}

{% block body %}  

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                FORM FOR SEARCH FILTER FEATURE                                                                                    -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

    {# <!-- <form action="/search-results" id="search-filter-form"> --> #}
        Search National Parks with Search Filters

        Find National Parks
    
        <br>
        <p> Check the box next to the category you want to search: </p>
        
        <div>
            <label for="parks-by-state-filter"></label>
            Find trails/activities in this state (Type only one state code -- For example: CA) : <input type="text" name="state" id="user-selected-state" required>
            <br>
            <label for="parks-with-pet-friendly-trails"></label>
            Find trails/activities that are pet-friendly <input type="checkbox" name="checkbox-filter" id="pet-filter"> 
            <br>
            <label for="parks-with-wheelchair-accessible-trails"></label>
            Find trails/activities that are wheelchair accessible <input type="checkbox" name="checkbox-filter" id="wh-access-filter"> 
        </div>

        <div>
            <label for="Submit Button for Search Filter Form"></label>
            <button id="submit-search" type="submit">Submit Search</button>
        </div> 
    {# <!-- </form> --> #}

    <div id="search-results"></div>

    <script src="/static/js/search-results.js"></script>
{% endblock %}