<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                JINJA -- INHERIT FROM BASE.HTML                                                                                   -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

{% extends 'base.html' %}
{% block title %}National Parks and Lakes App - User Dashboard{% endblock %}

{% block body %}  

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                FORM FOR SEARCH FILTER FEATURE                                                                                    -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

    <form action="/search-results" method="POST" id="search-filter-form">
        Search National Parks with Search Filters

        Find National Parks
    
        <br>
        <p> Check the box next to the category you want to search: </p>
        <br>
        <p> Type only one State Code per search.
            <br> For Example: CA </p>
        <div>
            Parks in this state <input type="checkbox" value="state-checkbox" name="search-filter" id="state-checkbox" required> 
            <label for="parks-by-state-filter">Type one State Code here:</label>
            <input type="text" name="state" id="user-selected-state" required>
            <br>
            <label for="parks-with-pet-friendly-trails"></label>
            Parks with pet-friendly trails <input type="checkbox" value="pet-trails" name="search-filter" id="pet-trails"> 
        </div>

        <div>
            <label for="Submit Button for Search Filter Form"></label>
            <button type="submit">Submit Search</button>
        </div> 
    </form>

{% endblock %}