<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                JINJA -- INHERIT FROM BASE.HTML                                                                                   -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

{% extends 'base.html' %}
{% block title %}National Parks and Lakes App - User's Top Places{% endblock %}

{% block body %}  

    <h3>This is the User's Top Places Page</h3>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                NAVIGATION LINKS                                                                                                  -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
    <label for="Submit Button to Log Out"></label>
    <a href="/logged-out" class="button">Log Out</a>

    <br> 

    <label for="Nav Link to go back to User Dashboard"></label>
    <a href="/user-dashboard" class="button">Back to My Dashboard</a>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                DISPLAY USER'S TOP PARKS                                                                                                 -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

<h2> {{ session['username']|title }}, here are your next adventures!</h2>

<div id = "park-cards" class ="row"></div>
    <label for="park-cards"></label>
        {% for park in top_park_data %}  

            <div class = "park-card ">
                <label for="park-card"></label>
                    <div class="card-body">
                        <h5> {{ park['fullName'] }} </h5>
                        <br>
                        <a href="/place-page/{{ park['parkCode'] }}">Explore details about {{ park['fullName'] }}</a>
                        <br>
                        {% if park.get('images') %}
                            <img src="{{ park['images'][0]['url'] }}" class="park-image">
                        {% else %}
                            <img src="static/images/National-Park-Service-Logo.png">
                        {% endif %}
                    </div>
            </div>

        {% endfor %}  
</div>  

{% endblock %}