<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                JINJA -- INHERIT FROM BASE.HTML                                                                                   -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

{% extends 'base.html' %}
{% block title %}National Parks and Lakes App - User Dashboard{% endblock %}

{% block body %}  

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                BANNER / APP NAME AND NAVIGATION LINKS                                                                            -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

<div class="container-fluid"
    style="background-color: rgb(5, 57, 57);">
    <div class="position-relative">
        <h1 class="container-fluid d-none px-5 d-lg-block display-1 text-white fw-light
                    position-absolute top-50 start-50 translate-middle text-center"
                    style="text-shadow:3px 3px 2px rgb(1, 76, 85);">Into the Wild</h1>
        <img class="container-fluid" src="/static/images/Blue-Ridge-Panoramic-Photo-NPS.jpg" alt="Blue Ridge">
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid justify-content-md-center text-center p-4 mb-1"
        style="background-color: rgb(3, 44, 44)">  
            <div class="row justify-content-md-center">
                <div class="col-sm-auto">
                    <label for="Nav Link to Search Filter"></label>
                    <a href="/search-filter-page" class="btn btn-secondary rounded mx-auto 
                    btn-lg active" role="button" aria-pressed="true">Find Trails and Activites Using a Search Filter</a>
                </div>
                <div class="col-sm-auto">
                    <label for="Nav Link to User's Top Parks to Visit page"></label>
                    <a href="/user-top-places" class="btn btn-secondary rounded mx-auto 
                    btn-lg active" role="button" aria-pressed="true">My Top Parks to Visit</a>
                </div>
                <div class="col-sm-auto">
                    <label for="Submit Button to Log Out"></label>
                    <a href="/logged-out" class="btn btn-secondary rounded mx-auto 
                    btn-lg active" role="button" aria-pressed="true">Log Out</a>
                </div>
            </div>
        </div>
    </nav> 
</div>


<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--               WELCOME USER                                                                                                      -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

<div class="container mt-5"> 
    <h3 class="container text-center display-5 bg-transparent fw-light"> 
        Hello, {{ session['username']|title }}!</h3> 
    <br>
    <h5 class="container text-center display-6 bg-transparent fst-italic fw-bold">
        Let's explore some National Parks</h5>
</div>
<br>
<br>

<!-- -------------------------------------------------------------------------------------------------------------------------------- -->
<!--                DISPLAY ALL PARKS                                                                                                 -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->


    <div id = "park-cards" class ="row row-cols-1 row-cols-md-3"></div>
        <label for="park-cards"></label>
        <div class="row">
            {% for park in park_data %}  
            <div class ="col">
                <div class = "card">
                    <label for="park-card"></label>
                        <div class="card-body">
                            <h5 class="card-title display-6 text-dark text-center"> {{ park['fullName'] }} </h5>
                            {% if park.get('images') %}
                                <img src="{{ park['images'][0]['url'] }}" 
                                class="card-img-top rounded mx-auto d-block" alt="Park image">
                            {% else %}
                                <img src="static/images/National-Park-Service-Logo.png" 
                                class="card-img-top rounded mx-auto d-block bg-success" alt="Park logo">
                            {% endif %}

                            <div class="container-lg my-5">
                                <div class="row justify-content-md-center">
                                    <div class="park-page-btn col-sm-auto mb-4 text-center">
                                        <label for="Nav Linke to Park Page"></label>
                                        <p><button class="btn"><a class="text-light" 
                                            href="/place-page/{{ park['parkCode'] }}">
                                            Explore details about {{ park['fullName'] }}</a></button></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
            {% endfor %}  

    </div>  

{% endblock %}